run = "npm start"
hidden = [".config", "package.json", "package-lock.json", "node_modules"]

[nix]
enabled = false

[env]
PATH = "/home/runner/.npm-global/bin:/home/runner/.local/bin:/home/runner/.cargo/bin:/home/runner/.config/yarn/global/node_modules/.bin:/home/runner/.nvm/versions/node/v18.18.2/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
NODE_ENV = "production"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[deployment]
build = ["npm", "install", "-g", "concurrently"]
run = ["npm", "start"]
deploymentTarget = "cloudrun" 